<%- include('../partials/header'); %>

<main class="main main-home">
    <h2 class="home-header">
        Single Coffee Page
    </h2>
    <p><%=item.description %></p>
    <p><%=item.ingredients %></p>
    <p><%=item.id %></p>
</main>


<%- include('../partials/footer'); %>